*{
    margin: 0;
    padding: 0;
}

/*Navigation*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

#nav-bar{
    z-index: 10;
    background-color: #255f03ef;
    box-shadow: 0px 4px 4px #3b3b3bef;
}

.navbar-brand img{
    height: 60px;
}

.navbar-nav{
    margin-left: 40%;
    margin-top: 15px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-link{
    color: rgb(255, 255, 255)!important;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
}

.nav-link:hover{
    color: #007bff!important;
}

/*About*/
.about-us{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(/image/217348.jpg);
}

.about-us div{
    margin: 0;
    margin-left: 3%;
}

.about-col{
    flex: 1;
    padding: 30px 2px;
}

.figure {
    position: relative;
    flex: 1;
    padding: 30px 2px;
    margin-left: 10%;
}

.figure img{
    height: 450px;
    width: auto;
    border-radius: 10px;
}

.figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
  margin-top: 30px;
  margin-left: 12px;
  border-radius: 10px;
}
.figure:hover img.image-hover {
  opacity: 1;
}


.tulisan{
    height: auto;
    background: #0a499ce8;
    border-radius: 50px;
    text-align: center;
    padding-bottom: 10px;
}

.tulisan:hover{
    background-color: rgb(0, 0, 0);
}

.tulisan h1{
    padding-top: 20px;
    font-size: 36px;
    font-family: serif;
    color: #fff;
    font-weight: 550;
}

.tulisan p{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

/*Footer*/
footer{
    background: #255f03;
    height: auto;
    width: auto;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.social a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #1d4903;
    width: auto;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    text-decoration-color: white;
}