*{
    margin: 0;
    padding: 0;
}

/*Navigation*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

#nav-bar{
    z-index: 10;
    background-color: #255f03ef;
    box-shadow: 0px 4px 4px #3b3b3bef;
}

.navbar-brand img{
    height: 60px;
}

.navbar-nav{
    margin-left: 40%;
    margin-top: 15px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-link{
    color: rgb(255, 255, 255)!important;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
}

.nav-link:hover{
    color: #007bff!important;
}

/*Profile*/
body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

/*Footer*/
footer{
    background: #255f03;
    height: auto;
    width: auto;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.social a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #1d4903;
    width: auto;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    text-decoration-color: white;
}