*{
    margin: 0;
    padding: 0;
}

/*Navigation*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

#nav-bar{
    z-index: 10;
    background-color: #255f03ef;
    box-shadow: 0px 4px 4px #3b3b3bef;
}

.navbar-brand img{
    height: 60px;
}

.navbar-nav{
    margin-left: 40%;
    margin-top: 15px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-link{
    color: rgb(255, 255, 255)!important;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
}

.nav-link:hover{
    color: #007bff!important;
}

/*Decoration*/
.decor h1{
    margin-top: 3%;
    font-family:Bebas Neue;
    font-style: oblique;
    font-size: 50px;
    text-align: center;
    color: #9b3675;
}

.decor h2{
    font-family: Bebas Neue;
    font-style: oblique;
    font-weight: normal;
    font-size: 40px;
    color: #255f03ef;
    margin-top: 50px;
    margin-left: 65px;
    margin-bottom: 10px;
}

.decor div{
    margin: 0;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 15px;
}

.photobox{
    flex: 1;
    border:1px solid;
    border-radius: 30px;
}   

.isi img{
    width: 353px;
    height: 259px;
    border-radius: 30px;
    margin-top: 20px;
}

.isi p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #000;
    margin-top: 20px;
    text-align: center;
}

.isi2 img{
    width: 353px;
    height: auto;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 19%;
}

.isi2 p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #000;
    margin-top: 20px;
    text-align: center;
}

.isi3{
    font-family: Poppins;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: #255f03ef;
}

.isi3 img{
    width: 127px;
    height: auto;
    margin-top: 20px;
}

.isi3 h3{
    font-family: Poppins;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: #255f03ef;
}

.isi3 p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #000;
    margin-top: 20px;
    text-align: center;
}

/*Message*/
.orderchat p{
    text-align: center;
    font-size: 20px;
}

.orderchat button{
    margin-left: 45%;
}

/*Footer*/
footer{
    background: #255f03;
    height: auto;
    width: auto;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.social a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #1d4903;
    width: auto;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    text-decoration-color: white;
}